.HomeContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.HomeDiv {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.HomeDiv h1 {
    margin: 0;
    font-family: Orbitron;
	font-size: 70px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: 700;
}

.HomeLink {
    color: #000;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}